<%- include('partials/header'); -%>

<header>
  <div class="smoothie" style="-webkit-transform: scaleX(-1); transform: scaleX(-1); margin-left: -3em;">
    <img src="assets/p2.png" alt="">
  </div>
  <div class="headings">
    <h2>Dreamlisting with us</h2>
    <h3>By Toodles</h3>
    <a href="/todo" class="btn">Manage Todos</a>
  </div>
  <div class="smoothie" style="float: right;">
    <img src="assets/p4.png" alt="">
  </div>
</header>

<%- include('partials/footer'); -%>